# Bytecode and compiled files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env

# Virtual environments
venv/
.env/
*.env

# SQLite database
*.db
*.sqlite3

# Flask cache and logs
instance/
*.log

# Pytest and coverage
.coverage
htmlcov/
.cache/
.pytest_cache/

# VSCode and other IDE files
.vscode/
.idea/

# macOS and Linux
.DS_Store
*.swp